@palette-cursor-size: 20px;
@palette-cursor-cross-size: 2px;
@palette-cursor-bg-color: rgb(76, 76, 76);
@palette-cursor-wrapper-bg-color: rgb(255, 255, 255);

.color-palette {
  position: relative;
  cursor:crosshair;
  width: 100%;
  height: 100%;

  canvas {
    width: 100%;
    height: 100%;
  }

  .cursor-symbol {
    position: absolute;
    top: 0;
    left: 0;
    height: @palette-cursor-size;
    width: @palette-cursor-size;

    .cursor-v-border {
      position: absolute;
      background: @palette-cursor-wrapper-bg-color;
      width: @palette-cursor-cross-size*2;
      height: @palette-cursor-size;
      left: @palette-cursor-size/2-@palette-cursor-cross-size;
      top: 0px;
    }

    .cursor-v-content {
      position: absolute;
      background: @palette-cursor-bg-color;
      height: @palette-cursor-size - @palette-cursor-cross-size;
      width: @palette-cursor-cross-size;
      left: @palette-cursor-size/2-@palette-cursor-cross-size+1;
      top: 1px;
    }

    .cursor-h-border {
      position: absolute;
      background: @palette-cursor-wrapper-bg-color;
      height: @palette-cursor-cross-size*2;
      width: @palette-cursor-size;
      top: @palette-cursor-size/2 - @palette-cursor-cross-size;
      left: 0px;
    }

    .cursor-h-content {
      position: absolute;
      background: @palette-cursor-bg-color;
      width: @palette-cursor-size - @palette-cursor-cross-size;
      height: @palette-cursor-cross-size;
      top: @palette-cursor-size/2 - @palette-cursor-cross-size+1;
      left: 1px;
    }
  }

  .palette-overlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
  }
}
