<div class="color-picker">
  <div class="row ">
    <div class="col-sm-6">
      <div>Basic colors</div>
      <ul class="colors-boxes">
        <li *ngFor="let basicColor of basicColors" [style.backgroundColor]="basicColor" (click)="onHexChangeFromGUi(basicColor)"></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <tt-color-palette [hsvColor]="hsvColor" (hsvColorChange)="onHsvChangeFromPalette($event)"></tt-color-palette>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div>Custom colors</div>
      <ul class="colors-boxes custom-colors">
        <li *ngFor="let index of arrayOfCount(customColorCount)" [style.backgroundColor]="customColors[index]" (click)="onHexChangeFromGUi(customColors[index]||'#ffffff')"></li>
      </ul>
      <button class="btn btn-primary btn-sm" style="width: 100%;" (click)="addToCustom()">Add to Custom Colors</button>
    </div>
    <div class="col-sm-6" style="display: flex;flex-direction: row;">
      <div class="color-preview" style="width: 50px;" [style.backgroundColor]="hexColor"></div>
      <div style="flex: 1;">
        <div style="display: flex;">
          <form [formGroup]="hsvForm" class="color-hsv">
            <div class="color-input">
              <label>Hue:</label>
              <input type="number" min="0" max="359" step="1" formControlName="hsv_h" />
            </div>
            <div class="color-input">
              <label>Sat:</label>
              <input type="number" min="0" max="255" step="1" formControlName="hsv_s" />
            </div>
            <div class="color-input">
              <label>Val:</label>
              <input type="number" min="0" max="255" step="1" formControlName="hsv_v" />
            </div>
          </form>
          <form [formGroup]="rgbForm" class="color-rbg">
            <div class="color-input">
              <label>Red:</label>
              <input type="number" min="0" max="255" step="1" formControlName="rgb_r" />
            </div>
            <div class="color-input">
              <label>Green:</label>
              <input type="number" min="0" max="255" step="1" formControlName="rgb_g" />
            </div>
            <div class="color-input">
              <label>Blue:</label>
              <input type="number" min="0" max="255" step="1" formControlName="rgb_b" />
            </div>
          </form>
        </div>
        <div class="hex-value">
          <label>HTML:</label><input type="text" [ngModel]="hexColor" (ngModelChange)="onHexChangeFromGUi($event)" />
        </div>
      </div>
    </div>
  </div>
</div>
